* {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  justify-items: center
}

button {
  width: 100%;
  text-align: center;
  height: 40px;
  font-size: 18px;
  cursor: pointer;
  background-color: #fff;
  color: #000;
}

button.selected {
  background-color: #000;
  color: #fff;
}

main {
  padding-top: 10px;
}

ul {
  list-style-position: outside;
}

li {
  padding: .5rem;
}

table,
td {
  border: 1px solid black
}